*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    min-width: 300px;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;    
}

form {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}
section{
    display: flex;
    flex-direction: column; 
    align-items: right;   
}
label{
    display: block;
    width: 90px;
    margin-left: 05px;
}
input{
    margin: 3px;
    height: 20px;
    width: 300px;
}
select{
    width: 100px;
    margin-left: 3px;
    height: 20px;
}
main{
    display: flex;
    align-content: flex-start;
}
#docPronto{
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    height: 1080px;
}
#docPronto > h3{
    padding-top: 30PX;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
}
#docPronto > h4{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
    font-size: 1.3rem;
}
#docPronto > p{
    text-align: justify;
    text-indent: 20px;
    margin: 10px;
    font-size: 1.3rem;
}
#docPronto .center{
    text-align: center;
}
#docPronto .line{
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#docPronto .perto{
    margin-top: 0px;
    padding-top: 0px;
}
footer{
    height: 30px;
    text-align: center;
    background-color: white;

}
@media print{
    #docPronto{
        margin: 0px;
        padding: 0px;
        box-shadow: none;
    }
    footer{
        display: none;
    }
    .container{
        display: none;
    }
}
