@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 98vh;
}
header{
    width: 99vw;
    height: 10vh;
    background-color: white;
}


main{
    border: 1px solid black;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: white;
}
a{
    text-decoration: none;
}

div{
    background-image: url(../imagens/em\ construção.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 200px;
    border: 1px solid black;
}
#recibo{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: black; /* cor da borda */
    background-image: url(../imagens/Recibo.jpg);
    color: white;
}
footer{
    background-color: white;
    width: 99vw;
    text-align: center;

}    